* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  background: #faf8f6;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
}

@font-face {
  font-family: 'Mickey';
  src: url('./fonts/MICKEY.TTF') format('truetype');
}

@font-face {
  font-family: 'WickedMouse';
  src: url('./fonts/Wicked Mouse Demo.otf') format('opentype');
}

@font-face {
  font-family: 'mickeymouse';
  src: url('./fonts/mickey m tfb.ttf') format('opentype');
}


.card {
  height: auto;
  max-width: 360px;
  background-color: white;
  border-radius: 30px;
  padding: 25px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #d4a24c;
  text-align: center;
  animation: entrada 1s ease;
}

/* fondo transparente */
.card::before{
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("img/fondo.jpg"); /* 👈 tu imagen */
  background-size: cover;
  background-position: center;

  opacity: 0.2; /* 👈 TRANSPARENCIA (ajusta aquí) */
  z-index: 0;
}

/* asegurar que el contenido quede encima */
.card > *{
  position: relative;
  z-index: 1;
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.fade-in {
  animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* orejas */
.decor {
  position: absolute;
  width: 18px;
  height: 18px;
  background: black;
  border-radius: 50%;
}

.top-left {
  left: 20px;
  transform: rotate(-20deg);
}

.top-right {
  right: 20px;
  transform: rotate(20deg);
}

.button-left {
  left: 20px;
  transform: rotate(-20deg);
}

.button-right {
  right: 20px;
  transform: rotate(20deg);
}

.decor::before,
.decor::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}

.decor::before {
  top: -6px;
  left: -4px;
}

.decor::after {
  top: -6px;
  right: -4px;
}

/* textos */
.small {
  color: #d4a24c;
  font-size: 18px;
  letter-spacing: 2px;
}

.coming {
  color: red;
  font-style: italic;
  margin-bottom: 15px;
  font-size: 13px;
}

/* imagen */
.img-box img {
  width: 50%;
  /* background: #f2c94c; */
  animation: flotar 2s ease-in-out infinite;
}

/* animación */
/* @keyframes flotar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
} */

/* botón */
.btn {
  background: #e61e2a;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(230, 30, 42, 0.4);
}

/* oculto */
.hidden {
  display: none;
}

.contenido {
  height: 50%;
}

/* contenido */
.nombre {
  font-size: 25px;
  margin: 20px 0;
  font-family: 'WickedMouse', sans-serif;
}

.mensaje {
  font-size:  15px;
  color: #555;
  margin-bottom: 15px;
}

.info {
  background: white;
  padding: 12px;
  border-radius: 15px;
  margin: 10px 0;
  text-align: left;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.info a {
  text-decoration: none;
  color: black;
}

#icon{
  background-color: #e61e2a;
  color: white;
  padding: 5px;
  border-radius: 15px;
  font-size: 20px;
}

/* línea */
.linea {
  width: 60%;
  height: 2px;
  background: #d4a24c;
  margin: 15px auto;
}

/* confetti */
.confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.confetti span {
  position: absolute;
  border-radius: 50%;
  animation: caer linear forwards;
}

@keyframes caer {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}